Django==1.9
-e git+git://github.com/filipok/Wooey.git@0.9.11#egg=woo
django-sslify
django-storages
django-celery
django-autoslug
boto
waitress
psycopg2
collectfast
honcho
django-heroku-postgresify
http://transverbisalign.s3.amazonaws.com/align-0.8.5.3.tar.gz
-e git+git://github.com/filipok/django-transverbis-blog.git@perso2#egg=djtvblog
