Django
git+git://github.com/filipok/Wooey.git
django-sslify
django-storages
django-celery
django-autoslug
boto
waitress
psycopg2
collectfast
honcho
django-heroku-postgresify
http://transverbisalign.s3.amazonaws.com/align-0.2.tar.gz
git+git://github.com/filipok/django-transverbis-blog.git@perso
